.benefits__wrapper {
  width: 279px;
  margin-left: 20px;
}

.benefits__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;
}

.benefits__description {
  font-family: "Arial", sans-serif;
  width: 176px;
  color: $special_dark-grey;
}

.benefits__list {
  list-style: none;
}
