.button {
  @include buttons;
  background-color: $basic-green;
}
.button__small {
  font-size: 14px;
  line-height: 18px;
}

.button__form {
  border-style: none;
  text-transform: uppercase;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: center;

  @include oswald-regular;
}

.button__product {
  @include buttons;
  background-color: $basic-grey;
  color: $special_dark-grey;
}
