.button {
  @include buttons;
  background-color: $basic-green;
  color: $basic-white;
}

.button__small {
  margin: auto;
  margin-top: 3px;
  min-height: 40px;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    order: 1;
    width: 244px;
    min-height: 54px;
    margin-left: 82px;
    z-index: 1;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
    margin-bottom: 133px;
  }
}

.button__form {
  border-style: none;
  text-transform: uppercase;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: center;

  @include oswald-regular;
}

.button__product {
  background-color: $basic-grey;
  color: $special_dark-grey;

  @include buttons;
}
