.form-section__intro {
  text-transform: uppercase;
  padding: 0 20px;
  width: auto;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 0 30px;
    padding-top: 54px;
    margin: 0 40px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding-left: 110px;
  }
}
