.form__fieldset {
  border-style: none;
  margin: 0;
  padding: 0;
}

.form__label,
.form__input {
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  color: $special_dark-grey;
}

.form__label-radio {
  color: $special_dark-grey-2;
}

.form__label-checkbox {
  color: $basic-dark;
}

.form__title {
  font-size: 24px;
  line-height: 26px;
  padding: 25px 0;
}

.form__legend {
  font-size: 24px;
  line-height: 26px;
}

.form__list {
  @include reset-list;
}
.form__item {
  color: $special_dark-grey;
  padding-bottom: 20px;
}
.form__item input::placeholder {
  color: $special_dark-grey;
  opacity: 1;
}

.form__mandatory-fields {
  font-family: "Arial", sans-serif;
  line-height: 16px;
}
