.outer {
  @media (min-width: $tablet-width) {
    width: 31px;
    height: 31px;
    border: 1px solid $main-grey_lighten;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &:hover {
      box-shadow: 0 1px 0 2px #cdcdcd;
    }

    &:active {
      border-color: $basic-green;
    }
  }
}
