.page-footer__main {
  background-color: $basic_grey;
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $basic-light-accent;
  text-align: center;
  padding-top: 38px;
  padding-bottom: 31px;

  &:active {
    opacity: 60%;
  }

  @media (min-width: $tablet-width) {
    border: none;
    padding-top: 23px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 30px;
  }
}

.page-footer__social {
  border-bottom: 1px solid $basic-light-accent;
  padding: 20px 0 18px 0;

  @media (min-width: $tablet-width) {
    border: none;
    margin-left: 28px;
    padding-top: 11px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 17px;
  }
}

.page-footer__wrapper--form {
  background-color: $basic-grey;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@media (min-width: $tablet-width) {
  .page-footer__container {
    flex-direction: row;
    height: 150px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__contacts {
    position: relative;
  }
}

.page-footer__copyright {
  display: flex;
  padding: 22px 0;

  @media (min-width: $tablet-width) {
    padding-top: 10px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 20px;
  }
}

.page-footer__contacts--accent {
  background-color: $basic-grey;

  @media (min-width: $desktop-width) {
    background-color: $basic-white;
  }
}
