.product-more {
  border-bottom: 1px solid $main-light;
  margin-bottom: 25px;
  padding-top: 24px;

  &::before {
    content: "";
    background-image: url("../img/icon-plus.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    display: inline-block;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    margin: 0 auto;

    @media (min-width: $tablet-width) {
      width: 60px;
      height: 60px;
    }
  }

  @media (min-width: $tablet-width) {
    background-color: $basic-white;
    border: 2px solid $basic-grey;
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 0;
  }
}

.product-more .product-more__title {
  @include products;
  text-align: center;
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  margin-top: 23px;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    max-width: 170px;
    padding-top: 26px;
    margin: 0 auto;
  }
}

.product-more__text {
  @include arial (12px, 16px);
  width: 280px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    @include arial (16px, 18px);
    max-width: 170px;
    margin: 0 auto;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 56px;
  }
}
