.product-info__description {
  font-family: "Arial", sans-serif;
  width: 227px;
  color: $special_dark-grey;
}

.product-info__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.product-info__link {
  color: $basic-dark;
  text-transform: uppercase;
}
