.product__link {
  color: $special_dark-grey-2;
  font-size: 16px;
  line-height: 20px;
}

product-name {
  font-size: 16px;
  line-height: 16px;
}
.product__info {
  @include arial (12px, 16px);
  color: $special_dark-grey;
}

.product__value {
  margin: 0;
  padding: 0;
}

.product__title {
  text-transform: uppercase;
  text-align: center;
}

.product__more-link {
  background-color: $basic-grey;
  color: $special_dark-grey;
}
