.slider-controls {
  width: 90.25%;
  margin-left: -1px;
  padding-top: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 74.25%;
    margin-left: 74px;
    position: absolute;
    bottom: 71px;
  }

  @media (min-width: $desktop-width) {
    width: 78.1%;
    margin: 0;
    margin-left: 90px;
    margin-top: -40px;
    position: relative;
    padding-top: 10px;
    padding-left: 71px;
  }
}

.slider-controls__range {
  flex-basis: 32.8%;
  height: 12px;
  background-color: $basic-white;
  border-radius: 5px;
  border-color: $special_grey;
  border-width: 1px;

  @media (min-width: $tablet-width) {
    position: relative;
    flex-basis: 73.7%;
    height: 6px;
    background-color: $main-grey_lighten;
    padding: 0;
  }
}

.slider-controls__pointer {
  width: 45%;
  height: 5px;
  background-color: $basic-green;
  border-radius: 5px;
  margin-top: 4px;
  margin-left: 4px;

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 45%;
    top: -15px;
    width: auto;
    height: auto;
    background-color: $basic-white;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
  }
}
