.slider-controls {
  width: 70.25%;
  margin-left: 44px;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 74.25%;
    margin-left: 74px;
    position: absolute;
    bottom: 71px;
  }

  @media (min-width: $desktop-width) {
    width: 78.1%;
    margin: 0;
    margin-left: 90px;
    margin-top: -40px;
    position: relative;
    padding-top: 10px;
    padding-left: 71px;
  }
}

.slider-controls__text {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 29.64px;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      left: 0;
      bottom: -6px;
      background-image: linear-gradient(90deg, $special_grey-2 50%, $color-transparent 50%);
      background-position: 0 0;
      background-repeat: repeat-x;
      background-size: 2px 1px;

      @media (min-width: $desktop-width) {
        bottom: -1px;
      }
    }

    &:hover::after {
      background-color: $special_grey-2;
    }

    &:active::after {
      display: none;
    }
  }
}

.slider-controls__range {
  flex-basis: 40.8%;
  height: 14px;
  background-color: $basic-white;
  border-radius: 5px;
  border-color: $special_grey;
  border-width: 1px;

  @media (min-width: $tablet-width) {
    position: relative;
    flex-basis: 73.7%;
    height: 6px;
    background-color: $main-grey_lighten;
    padding: 0;
  }
}

.slider-controls__pointer {
  width: 45%;
  height: 6px;
  background-color: $basic-green;
  border-radius: 5px;
  margin-top: 4px;
  margin-left: 4px;

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 45%;
    top: -15px;
    width: auto;
    height: auto;
    background-color: $basic-white;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
  }
}

.outer {
  @media (min-width: $tablet-width) {
    width: 31px;
    height: 31px;
    border: 1px solid $main-grey_lighten;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &:active {
      border-color: $basic-green;
    }
  }
}

.inner {
  @media (min-width: $tablet-width) {
    width: 8px;
    height: 8px;
    background-color: $basic-green;
    border-radius: 50%;
  }
}
