.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 34px;
  align-items: center;

  @media (min-width: $tablet-width) {
    column-gap: 25px;
  }
}

.social__link--instagram:hover svg,
.social__link--vk:hover svg {
  fill: $basic-green;
}

.social__link--facebook:hover svg {
  stroke: $basic-green;
}

.social__link:active svg {
  opacity: 30%;
}

.social__link--vk svg {
  @media (min-width: $tablet-width) {
    width: 30px;
    height: 22px;
  }
}

.social__link--instagram svg {
  @media (min-width: $tablet-width) {
    width: 23px;
    height: 29px;
  }
}

.social__link--facebook svg {
  @media (min-width: $tablet-width) {
    width: 28px;
    height: 33px;
    fill: none;
  }
}
