// Fonts

@mixin oswald-regular {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin oswald-medium {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
}

@mixin arial ($font-size, $line-height) {
  font-family: "Arial", sans-serif;
  font-size: $font-size;
  line-height: $line-height;
}

// Styles

@mixin reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin contacts-info {
  color: $special_dark;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
}

@mixin products {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}
