// Colors

$basic-green: #68b738;
$basic-grey: #f2f2f2;
$special_grey: #cdcdcd;
$special_grey-2: #666666;
$special_dark-grey: #444444;
$special_dark-grey-2: #222222;
$basic-white: #ffffff;
$special_dark: #111111;
$basic-dark: #000000;
$main-light: #ebebeb;
$main-gray_back: #eaeaea;
$basic-lighten: #d3d3d3;
$main-grey_lighten: #cdcdcd;
$basic-light-accent: #d9d9d9;
$main-orange: #f06351;
$main-orange-2: #fdc305;

// Fonts

@mixin oswald-regular {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin oswald-medium {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
}

@mixin arial ($font-size, $line-height) {
  font-family: "Arial", sans-serif;
  font-size: $font-size;
  line-height: $line-height;
}

// Styles

@mixin reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

h3, h2 {
  font-weight: normal;
}

// Button

@mixin button ($font-size, $line-height) {
  font-family: "Oswald", sans-serif;
  font-size: $font-size;
  line-height: $line-height;
}
